DEBUG=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=movies
POSTGRES_USER=movies
POSTGRES_PASSWORD=movies
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=xxxxxxxxxxxxxxx
# ElasticSearch
discovery.type=single-node
ELASTICSEARCH_URL=https://elasticsearch:9200
#ELASTICSEARCH_HOSTS=["http://elasticsearch:9200"]